.hot_products {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.hot_products_is {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 900px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.hot_product {
    width: 200px;
    height: 200px;
    position: relative;
    border: 1px solid #000;
    margin: 5px 5px;
}


.product_image_index {
    width: 248px;
    height: 248px;
}


.hot_product_hover {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    text-align: center;
    padding-top: 100px;
    background-color: gray;
}

.hot_product_hover:hover {
    opacity: 1.0;
}

.hot_product_name {
    font-size: 25px;
    font-weight: bolder;
}

.category_index {
    text-align: center;
    padding-top: 100px;
}

.restoran_of_category {
    width: 250px;
    /*border: 1px solid #000;*/
    margin: 5px 5px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

.restoran_image {
    /*border: 1px solid #000;*/
}

.links-menu {
    margin: 27px auto 8px;
    display: flex;
    flex-wrap: wrap;

}

.links-menu li {
    /*float: left;*/
    list-style-type: none;
    padding-right: 42px;
}

.links-menu li a {
    text-decoration: none;
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.links-menu .active {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
}

.links-menu li a:hover {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
}

.links-menu li a:active {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
}

.img-product-index {
    width: 200px;
    height: 200px;
    position: absolute;
}

.product-index {
    width: 200px;
    height: 200px;
    margin: 5px 5px;
    display: flex;
}

.product-index-hover {
    border: 1px solid #9c9c9c;
    background-color: #ffffff;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-family: 'Dancing Script', cursive;
}

.product-index:hover .product-index-hover {
    opacity: 0.9;
    transition: all 0.3s;
}

.basket_record {
    display: flex;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    margin: 10px auto;
    width: 500px;
}

.basket_records_img {
    height: 150px;
    width: 150px;
    border: 1px solid #000;
}

.basket_record_text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 10px;
}

.restaurants {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /*width: 900px;*/
    margin-bottom: 50px;
    margin-top: 50px;
}