{% extends 'basketapp/base.html' %}
{% load staticfiles %}

{% block content %}

<div class="basket_list">

{% include 'basketapp/includes/inc_basket_list.html' %}
</div>
{% if basket_items %}
<div class="basket_summary">
    В корзине {{ basket_items.0.total_quantity }} товаров общей стоимостью
    {{ basket_items.0.total_cost }} руб
</div>
{% endif %}


<button class="btn btn-round" style="text-align: center">
    <a class="text_button" href="{% url 'basket:order' %}">купить</a>

</button>
<button class="btn btn-round" style="text-align: center">
    <a class="text_button" href="{% url 'main' %}">на главную</a>
</button>
{% endblock %}