{% extends 'basketapp/base.html' %}
{% load staticfiles %}


{% block content %}
<h3>оформление заказа пользователя {{user.username}}</h3>
<div class="">
    <form class="form-horizontal" action="{% url 'basket:create_order' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ order_form.as_p }}

        <input class="form-control" type="submit" value="сохранить">
    </form>

</div>
<button class="btn btn-round form-control last">
    <a href="{% url 'main' %}" class="">
        на главную
    </a>
</button>

{% endblock %}