<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {{ title|title }}
        {% endblock %}
    </title>
    {% block css %}
    <link href="{% static 'assets/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/style_1.css' %}" rel="stylesheet">
    {% endblock %}
    {% block js %}

    {% endblock %}

</head>
<body>
<div class="container">
    <div class="login">
        <div class="text-login">Вход в систему</div>
        {% block content %}

        {% endblock %}
    </div>
</div>
</body>
</html>