{% extends 'mainapp/base.html' %}
{% load staticfiles %}
{'title': title, 'products': hot_products, 'categories': categories,}

{% block content %}

<div class="content">
    <div class="hot_products">
        <h3 class="h3">ХИТЫ ПРОДАЖ</h3>
        <div class="hot_products_is">
            {% for product in products %}

            <div class="hot_product">

                <img class="product_image_index" src="/media/{{ product.image }}" alt="{{product.short_desc}}"
                     style="width: 248px; height: 248px">

                <a class="link_product_image_index" href="#">
                    <div class="hot_product_hover">
                        <p class="hot_product_name">{{product.name}}</p>
                    </div>
                </a>
            </div>

            {% endfor %}
        </div>


    </div>

    <div class="hot_products">
        <h3 class="h3">КАТЕГОРИИ ПРОДУКТОВ</h3>
        <div class="hot_products_is">
            {% for category in categories %}


            <a class="link_product_image_index" href="#">
                <div class="hot_product category_index">
                    <p class="hot_product_name">{{category.name}}</p>
                </div>
            </a>


            {% endfor %}
        </div>


    </div>

</div>
{% endblock %}
