{% extends 'mainapp/base.html' %}
{% load staticfiles %}


{% block content %}

<div class="content">

    <div class="hot_products">
        <div class="hot_products_is">
            {% for category in categories %}
            <div class="product-index">
                <img src="/media/{{ category.image }}" alt="{{ product.short_desc }}" class="img-product-index">
                <a href="{% url 'catalog:restaurants' category.pk %}" class="product-index-hover">{{ category.name }}</a>
            </div>
            {% endfor %}
        </div>

    </div>

</div>
{% endblock %}
