{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block content %}


<div class="content">
    <h3>{{title}}</h3>
    {% include 'mainapp/includes/inc_category_menu.html' %}
    <!--<h3 class="">{{category.name|title}}</h3>-->
    <div class="hot_products">
        <!--<h3 class="h3">Продукты</h3>-->
        <div class="hot_products_is">
            {% for product in products %}
            {% if user.is_authenticated %}
            <a class="link_product_image_index" href="{% url 'basket:add' product.pk %}">
                <div class="restoran_of_category">

                    <img class="restoran_image" src="/media/{{ product.image }}"
                         style="width: 248px; height: 248px">
                    {{product.name}}
                </div>
            </a>
            {% else %}
            <a class="link_product_image_index" href="{% url 'auth:login' %}">
                <div class="restoran_of_category">

                    <img class="restoran_image" src="/media/{{ product.image }}"
                         style="width: 248px; height: 248px">
                    {{product.name}}
                </div>

            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}