{% extends 'mainapp/base.html' %}
{% load staticfiles %}
{'title': title, 'category': category, 'restorans': restorans,}
{% block content %}

<div class="content">
    <div class="hot_products">
        <h3 class="h3">Рестораны</h3>
        <h3 class="h3">{{category}}</h3>

        <div class="hot_products_is">
            {% for restoran in restorans %}
            <a class="link_product_image_index" href="{% url 'products_restoran' restoran.pk %}">
                <div class="restoran_of_category">

                    <img class="restoran_image" src="/media/{{ restoran.image }}"
                         style="width: 248px; height: 248px">
                    {{restoran.name}}

                </div>
            </a>
            {% endfor %}
        </div>


    </div>
</div>


{% endblock %}
